html {
  font-size: 62.5%;
}

body {
  background-color: #ffffff;
  -webkit-columns: #333333;
          columns: #333333;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  line-height: 1;
}

p {
  font-size: 1.6rem;
}

.body-inner {
  position: relative;
  padding-bottom: 100px;
  min-height: 100vh;
}

.wrapper {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1022px;
  margin: 0 auto;
  padding-left: 21px;
  padding-right: 21px;
}

.primary-heading {
  font-size: 3.2rem;
  line-height: 1.4;
  text-align: center;
}

.primary-heading--white {
  color: #ffffff;
}

.subheading {
  color: #3ba6c9;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-top: 10px;
}

.subheading--white {
  color: #ffffff;
}

.secondary-heading {
  font-size: 2.8rem;
  line-height: 1.4;
  text-align: center;
}

.tertiary-heading {
  font-size: 2.4rem;
  line-height: 2;
}

.button {
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(#fa41cc), to(#6020b0));
  background: linear-gradient(90deg, #fa41cc 0%, #6020b0 100%);
  color: #ffffff;
  font-size: 1.6rem;
  padding: 8px 35px 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 6px #00000029;
          box-shadow: 0 3px 6px #00000029;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover {
  opacity: 0.8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header {
  background-color: #ffffff;
  width: 100%;
  -webkit-box-shadow: 0 3px 6px #00000029;
          box-shadow: 0 3px 6px #00000029;
  position: fixed;
  z-index: 10;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 94px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-link {
  display: inline-block;
}

.header__logo-link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__logo-link:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__image {
  vertical-align: middle;
}

.header__title {
  font-size: 24px;
  vertical-align: middle;
  margin-left: 16px;
}

.header__global-navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 14%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  font-size: 1.6rem;
}

.header__item:not(:nth-of-type(1)) {
  margin-left: 24px;
}

.header__link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__link:hover {
  color: #3ba6c9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__button-wrapper {
  margin-left: auto;
}

.hero {
  background-image: url(../image/bg-round.svg);
  background-size: 700px auto;
  background-position: 705px 0;
  background-repeat: no-repeat;
  height: 768px;
  padding-top: 94px;
}

.hero__container {
  width: 100%;
  max-width: 1022px;
  margin: 0 auto;
  padding-left: 21px;
  padding-right: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.hero__text-box {
  width: 360px;
  margin-top: 159px;
}

.hero__catchcopy {
  font-size: 3.2rem;
  line-height: 1.4;
}

.hero__desc {
  font-size: 1.6rem;
  line-height: 1.5;
  width: 260px;
  margin-top: 44px;
}

.hero__button-wrapper {
  margin-top: 53px;
}

.hero__image-wrapper {
  position: absolute;
  top: 25%;
  right: 4%;
}

.hero__image {
  max-width: 100%;
  height: auto;
}

.features {
  padding-top: 70px;
  padding-bottom: 100px;
}

.features__list {
  margin-top: 57px;
}

.features__item:not(:nth-of-type(1)) {
  margin-top: 100px;
}

.features__item:nth-child(2n) .features__box {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

.features__item:nth-child(2n) .features__image-wrapper {
  margin-left: 5%;
  margin-right: 0;
}

.features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.features__image-wrapper {
  margin-right: 5%;
}

.features__image {
  max-width: 100%;
  height: auto;
}

.features__text-block {
  max-width: 46%;
  margin-left: auto;
}

.features__desc {
  line-height: 1.6;
  margin-top: 40px;
}

.price {
  background-color: #eefbfb;
  padding-top: 70px;
  padding-bottom: 100px;
}

.price__table {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  width: 94%;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 3px 6px #00000029;
          box-shadow: 0 3px 6px #00000029;
}

.price__table-row:not(:nth-of-type(1)) {
  border-top: 1px solid #e5e5e5;
}

.price__table-heading {
  font-size: 1.6rem;
  line-height: 1.7;
  width: 35%;
  vertical-align: middle;
  padding: 19px 30px;
}

.price__table-desc {
  font-size: 1.6rem;
  line-height: 1.7;
  width: 65%;
  vertical-align: middle;
  padding: 33px 30px;
  border-left: 1px solid #e5e5e5;
}

.price__note {
  margin-top: 36px;
  text-align: center;
}

.faq {
  padding-top: 70px;
  padding-bottom: 100px;
}

.faq__box {
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  width: 93%;
  border: 1px solid #e5e5e5;
}

.faq__box-heading {
  padding: 18px;
  font-size: 1.4rem;
  line-height: 1.9;
  text-align: center;
}

.faq__box-heading:not(:nth-of-type(1)) {
  border-top: 1px solid #e5e5e5;
}

.faq__box-desc {
  padding: 18px;
  background-color: #f2f2f2;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.9;
  border-top: 1px solid #e5e5e5;
}

.blog {
  padding-top: 70px;
  padding-bottom: 100px;
  background-color: #eefbfb;
}

.blog-container {
  width: 100%;
  max-width: 1268px;
  margin: 0 auto;
  padding-left: 21px;
  padding-right: 21px;
}

.blog__list {
  margin-top: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__item {
  width: 31%;
  -webkit-box-shadow: 0 3px 6px #00000029;
          box-shadow: 0 3px 6px #00000029;
}

.blog__image {
  width: 100%;
  max-width: 389px;
  height: auto;
}

.blog__box {
  padding: 14px 18px 10px;
  background-color: #ffffff;
  min-height: 127px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__desc {
  font-size: 1.8rem;
  line-height: 1.4;
}

.blog__date {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: right;
}

.works {
  padding-top: 70px;
  padding-bottom: 100px;
}

.works-container {
  width: 100%;
  margin: 0 auto;
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 68px;
}

.works__item {
  width: 24%;
  max-width: 322px;
  border: 1px solid #dddddd;
  border-radius: 8px;
}

.works__image {
  width: 100%;
  max-width: 322px;
  height: auto;
}

.works__box {
  padding: 18px;
  min-height: 196px;
}

.works__item-desc {
  font-size: 1.6rem;
  line-height: 1.5;
}

.works__item-list {
  margin-top: 30px;
  font-size: 1.4rem;
  line-height: 1.4;
}

.contact {
  padding-top: 70px;
  padding-bottom: 100px;
  background: -webkit-gradient(linear, left top, right top, from(#05a5fa), color-stop(100%, #63fbd7), to(#67ffd6));
  background: linear-gradient(90deg, #05a5fa 0%, #63fbd7 100%, #67ffd6 100%);
}

.contact__text {
  margin-top: 36px;
  color: #ffffff;
  text-align: center;
}

.contact__box {
  margin-top: 44px;
  padding: 31px 62px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 6px #00000029;
          box-shadow: 0 3px 6px #00000029;
}

.contact__item:not(:nth-of-type(1)) {
  margin-top: 35px;
}

.contact__label {
  font-size: 1.6rem;
}

.contact__note {
  display: inline-block;
  background-color: #0c449b;
  color: #ffffff;
  font-size: 1.4rem;
  height: 24px;
  line-height: 24px;
  padding: 0 15px;
  border-radius: 5px;
  margin-left: 8px;
}

.contact__text-input {
  display: block;
  margin-top: 15px;
  font-weight: 400;
  font-size: 1.5rem;
  width: 100%;
  max-width: 856px;
  padding: 6px 12px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.contact__textarea {
  display: block;
  margin-top: 15px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.4;
  width: 100%;
  max-width: 856px;
  padding: 6px 12px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.contact__checkbox-wrapper {
  margin-top: 30px;
  text-align: center;
}

.contact__checkbox {
  display: none;
}

.contact__checkbox:checked + .contact__checkbox-label::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
  border: 1px solid #333333;
  border-radius: 3px;
  cursor: pointer;
  background-color: #ffffff;
}

.contact__checkbox:checked + .contact__checkbox-label::after {
  content: '';
  display: block;
  position: absolute;
  top: -4px;
  left: 6px;
  width: 7px;
  height: 16px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  border-top: none;
  border-left: none;
  border-bottom: 3px solid #3ba6c9;
  border-right: 3px solid #3ba6c9;
}

.contact__checkbox-label {
  font-size: 1.6rem;
  padding-left: 20px;
  position: relative;
}

.contact__checkbox-label::after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
  border: 1px solid #333333;
  border-radius: 3px;
}

.contact__submit-wrapper {
  margin-top: 30px;
  text-align: center;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer__inner {
  padding: 30px 0;
  width: 100%;
  height: 100px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__item {
  font-size: 1.6rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__item:not(:nth-of-type(1)) {
  margin-left: 25px;
}

.footer__link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__link:hover {
  color: #3ba6c9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__copyright-wrapper {
  margin-top: 15px;
  text-align: center;
}

.footer__copyright {
  display: block;
  font-weight: 400;
  font-size: 1.4rem;
}

#js-scroll-top {
  position: fixed;
  bottom: 60px;
  right: 40px;
}

.js-scroll-top__link {
  background-color: #0c449b;
  color: #ffffff;
  font-size: 35px;
  padding: 8px 18px 10px;
  border-radius: 4px;
}

.fa-angle-up {
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */