@charset "utf-8";

// --------------------------------------------------------
// _base.scss
// --------------------------------------------------------

// --------------------------------------------------------
// ベース設定
// --------------------------------------------------------
html {
    font-size: 62.5%;
}
body {
    background-color: $colorWhite;
    columns: $colorBlackBase;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    line-height: 1;
}
p {
    font-size: 1.6rem;
}
