@charset "utf-8";

// --------------------------------------------------------
// _base.scss
// --------------------------------------------------------

// --------------------------------------------------------
// ベース設定
// --------------------------------------------------------
html {
  font-size: 62.5%;
}
body {
  background-color: $colorWhite;
  color: $colorBlack01;
  font-family: 'Helvetica Neue', 'Helvetica', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Arial',
    'Yu Gothic', 'Meiryo', sans-serif;
  // font-family: 'Noto Serif', 'Noto Serif JP', sans-serif; //Webフォント
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: .05em;
}
.body-inner {// コンテンツが少ない場合にfooteの位置を最下部に固定する
  min-height: 100vh;
  position: relative;
  padding-bottom: 79px; // footerの高さ
}
p {
  font-size: 1.6rem;
}

// inputタグのtype属性の値をnumberにした時に表示される矢印ボタン（スピンボタン）を消去
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance:textfield;
}
//

// --------------------------------------------------------
// ページレイアウト
// --------------------------------------------------------
