@charset "utf-8";

// --------------------------------------------------------
// インポートファイル
// --------------------------------------------------------
@import 'variables';
@import 'mixin';
@import 'base';

// --------------------------------------------------------
// 共通パーツ
// --------------------------------------------------------
.body-inner {
    //コンテンツが少ない場合にfooterを最下部に固定する
    position: relative;
    padding-bottom: 244px; //footerの高さ
    min-height: 100vh;
}
.wrapper {
    //子要素の幅が親要素の幅より大きくなった場合に横スクロールを非表示にする
    overflow: hidden;
}
.container {
    width: 100%;
    max-width: 1022px;
    margin: 0 auto;
    padding-left: 21px;
    padding-right: 21px;
}
.primary-heading {
    font-size: 3.2rem;
    line-height: 1.4;
}
.subheading {
    color: $colorGlayBlue;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-top: 10px;
}
.secondary-heading {
    font-size: 2.8rem;
    line-height: 1.4;
}
.tertiary-heading {
    font-size: 2.4rem;
    line-height: 2;
}
.button {
    display: inline-block;
    background: linear-gradient(90deg, $colorMagenta 0%, $colorpurple 100%);
    color: $colorWhite;
    font-size: 1.6rem;
    padding: 8px 35px 10px;
    border-radius: 10px;
    box-shadow: 0 3px 6px #00000029;
    transition: all .3s;
    &:hover {
        opacity: .8;
        transition: all .3s;
    }
}

// --------------------------------------------------------
// header
// --------------------------------------------------------
.header {
    background-color: $colorWhite;
    width: 100%;
    position: fixed;
    z-index: 10;

    &__inner {
        display: flex;
        height: 94px;
        align-items: center;
    }
    &__logo-link {
        display: inline-block;
    }
    &__logo-link {
        transition: all .3s;
        &:hover {
            opacity: .7;
            transition: all .5s;
        }
    }
    &__image {
        vertical-align: middle;
    }
    &__title {
        font-size: 24px;
        vertical-align: middle;
        margin-left: 16px;
    }
    &__global-navi {
        display: flex;
        margin-left: 14%;
    }
    &__list {
        display: flex;
    }
    &__item {
        font-size: 1.6rem;
        &:not(:nth-of-type(1)) {
            margin-left: 24px;
        }
    }
    &__link {
        transition: all .5s;
        &:hover {
            color: $colorGlayBlue;
            transition: all .3s;
        }
    }
    &__button-wrapper {
        margin-left: auto;
    }
}



// --------------------------------------------------------
// footer
// --------------------------------------------------------
.footer {
    position: absolute;
    bottom: 0;
}