@charset "utf-8";

// --------------------------------------------------------
// インポートファイル
// --------------------------------------------------------
@import 'variables';
@import 'mixin';
@import 'base';

// --------------------------------------------------------
// 共通パーツ
// --------------------------------------------------------
.body-inner {
    //コンテンツが少ない場合にfooterを最下部に固定する
    position: relative;
    padding-bottom: 244px; //footerの高さ
    min-height: 100vh;
}
.wrapper {
    //子要素の幅が親要素の幅より大きくなった場合に横スクロールを非表示にする
    overflow: hidden;
}
.container {
    width: 100%;
    max-width: 1022px;
    margin: 0 auto;
    padding-left: 21px;
    padding-right: 21px;
}
.primary-heading {
    font-size: 3.2rem;
    line-height: 1.4;
    text-align: center;
}
.subheading {
    color: $colorGlayBlue;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-top: 10px;
}
.secondary-heading {
    font-size: 2.8rem;
    line-height: 1.4;
    text-align: center;
}
.tertiary-heading {
    font-size: 2.4rem;
    line-height: 2;
}
.button {
    display: inline-block;
    background: linear-gradient(90deg, $colorMagenta 0%, $colorpurple 100%);
    color: $colorWhite;
    font-size: 1.6rem;
    padding: 8px 35px 10px;
    border-radius: 10px;
    box-shadow: 0 3px 6px $colorGlayHeavy;
    transition: all 0.3s;
    &:hover {
        opacity: 0.8;
        transition: all 0.3s;
    }
}

// --------------------------------------------------------
// header
// --------------------------------------------------------
.header {
    background-color: $colorWhite;
    width: 100%;
    box-shadow: 0 3px 6px $colorGlayHeavy;
    position: fixed;
    z-index: 10;

    &__inner {
        display: flex;
        height: 94px;
        align-items: center;
    }
    &__logo-link {
        display: inline-block;
    }
    &__logo-link {
        transition: all 0.3s;
        &:hover {
            opacity: 0.7;
            transition: all 0.5s;
        }
    }
    &__image {
        vertical-align: middle;
    }
    &__title {
        font-size: 24px;
        vertical-align: middle;
        margin-left: 16px;
    }
    &__global-navi {
        display: flex;
        margin-left: 14%;
    }
    &__list {
        display: flex;
    }
    &__item {
        font-size: 1.6rem;
        &:not(:nth-of-type(1)) {
            margin-left: 24px;
        }
    }
    &__link {
        transition: all 0.5s;
        &:hover {
            color: $colorGlayBlue;
            transition: all 0.3s;
        }
    }
    &__button-wrapper {
        margin-left: auto;
    }
}

// --------------------------------------------------------
// hero
// --------------------------------------------------------
.hero {
    background-image: url(../image/bg-round.svg);
    background-size: 700px auto;
    background-position: 705px 0;
    background-repeat: no-repeat;
    height: 768px;
    padding-top: 94px;

    &__container {
        width: 100%;
        max-width: 1022px;
        margin: 0 auto;
        padding-left: 21px;
        padding-right: 21px;
        display: flex;
        position: relative;
    }
    &__text-box {
        width: 360px;
        margin-top: 159px;
    }
    &__catchcopy {
        font-size: 3.2rem;
        line-height: 1.4;
    }
    &__desc {
        font-size: 1.6rem;
        line-height: 1.5;
        width: 260px;
        margin-top: 44px;
    }
    &__button-wrapper {
        margin-top: 53px;
    }
    &__image-wrapper {
        // margin-left: 13%;
        position: absolute;
        top: 25%;
        right: 4%;
        // transform: translateY(-50%);
    }
    &__image {
        max-width: 100%;
        height: auto;
    }
}

// --------------------------------------------------------
// features
// --------------------------------------------------------
.features {
    padding-top: 71px;
    padding-bottom: 154px;

    &__list {
        margin-top: 57px;
    }
    &__item {
        &:not(:nth-of-type(1)) {
            margin-top: 100px;
        }
    }
    &__box {
        display: flex;
        align-items: center;
        margin-top: 60px;
    }
    &__image-wrapper {
        margin-right: 5%;
    }
    &__image {
        max-width: 100%;
        height: auto;
    }
    &__text-block {
        max-width: 46%;
        margin-left: auto;
    }
    &__desc {
        line-height: 1.6;
        margin-top: 40px;
    }
}

// --------------------------------------------------------
// features
// --------------------------------------------------------
.price {
    background-color: $colorBlueLightGlay;
    padding-top: 55px;
    padding-bottom: 70px;

    &__table {
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto;
        background-color: $colorWhite;
        width: 94%;
        border: 1px solid $colorGlayBase;
        box-shadow: 0 3px 6px $colorGlayHeavy;
    }
    &__table-heading {
        font-size: 1.6rem;
        line-height: 1.7;
        width: 35%;
        vertical-align: middle;
        padding: 19px 30px;
        border-top: 1px solid $colorGlayBase;
    }
    &__table-desc {
        font-size: 1.6rem;
        line-height: 1.7;
        width: 65%;
        vertical-align: middle;
        padding: 33px 30px;
        border-top: 1px solid $colorGlayBase;
        border-left: 1px solid $colorGlayBase;
    }
    &__note {
        margin-top: 36px;
        text-align: center;
    }
}
// --------------------------------------------------------
// footer
// --------------------------------------------------------
.footer {
    position: absolute;
    bottom: 0;
}
