@charset "utf-8";

// --------------------------------------------------------
// インポートファイル
// --------------------------------------------------------
@import 'variables';
@import 'mixin';
@import 'base';

// --------------------------------------------------------
// 共通パーツ
// --------------------------------------------------------
.body-inner {
    //コンテンツが少ない場合にfooterを最下部に固定する
    position: relative;
    padding-bottom: 100px; //footerの高さ
    min-height: 100vh;
}
.wrapper {
    //子要素の幅が親要素の幅より大きくなった場合に横スクロールを非表示にする
    overflow: hidden;
}
.container {
    width: 100%;
    max-width: 1022px;
    margin: 0 auto;
    padding-left: 21px;
    padding-right: 21px;
    @include sp {
        padding-left: 4%;
        padding-right: 4%;
    }
}
.br--pc-visible {
    @include tab {
        display: none;
    }
}
.br--tab-unvisible {
    @include tab {
        display: none;
    }
    @include sp {
        display: block;
    }
}
.br--visible {
    display: none;
    @include tab {
        display: block;
    }
}
.br--sp-visible {
    display: none;
    @include sp {
        display: block;
    }
}
.primary-heading {
    font-size: 3.2rem;
    line-height: 1.4;
    text-align: center;
    &--white {
        color: $colorWhite;
    }
    @include sp {
        font-size: 2.6rem;
    }
}
.subheading {
    color: $colorGlayBlue;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-top: 10px;
    &--white {
        color: $colorWhite;
    }
    @include sp {
        font-size: 1.4rem;
        margin-top: 8px;
    }
}
.secondary-heading {
    font-size: 2.8rem;
    line-height: 1.4;
    text-align: center;
    @include sp {
        font-size: 2.2rem;
    }
}
.tertiary-heading {
    font-size: 2.4rem;
    line-height: 2;
    @include sp {
        font-size: 2rem;
        line-height: 1.5;
    }
}
.button {
    display: inline-block;
    background: linear-gradient(90deg, $colorMagenta 0%, $colorpurple 100%);
    color: $colorWhite;
    font-size: 1.6rem;
    padding: 8px 35px 10px;
    border-radius: 10px;
    box-shadow: 0 3px 6px $colorGlayHeavy;
    transition: all 0.3s;
    &:hover {
        opacity: 0.8;
        transition: all 0.3s;
    }
}

// --------------------------------------------------------
// header
// --------------------------------------------------------
.header {
    background-color: $colorWhite;
    width: 100%;
    box-shadow: 0 3px 6px $colorGlayHeavy;
    position: fixed;
    z-index: 10;

    &__inner {
        display: flex;
        height: 94px;
        align-items: center;
        @include sp {
            height: 74px;
        }
    }
    &__logo-link {
        display: inline-block;
    }
    &__logo-link {
        transition: all 0.3s;
        &:hover {
            opacity: 0.7;
            transition: all 0.3s;
        }
    }
    &__image {
        width: 47px;
        height: auto;
        vertical-align: middle;
        @include sp {
            width: 38px;
        }
    }
    &__title {
        font-size: 24px;
        vertical-align: middle;
        margin-left: 16px;
        @include sp {
            font-size: 20px;
        }
    }
    &__global-navi {
        display: flex;
        margin-left: 14%;
        @include tab {
            display: none;
        }
    }
    &__list {
        display: flex;
    }
    &__item {
        font-size: 1.6rem;
        &:not(:nth-of-type(1)) {
            margin-left: 24px;
        }
    }
    &__link {
        transition: all 0.3s;
        &:hover {
            color: $colorGlayBlue;
            transition: all 0.3s;
        }
    }
    &__button-wrapper {
        margin-left: auto;
        @include tab {
            display: none;
        }
    }
}

// --------------------------------------------------------
// hero
// --------------------------------------------------------
.hero {
    background-image: url(../image/bg-round.svg);
    background-size: 740px auto;
    background-position: 114% -40px;
    background-repeat: no-repeat;
    height: 768px;
    padding-top: 94px;
    @include tab {
        background-position: 114% -140px;
        height: 650px;
    }
    @include sp {
        padding-top: 74px;
        height: 600px;
    }

    &__container {
        width: 100%;
        max-width: 1022px;
        margin: 0 auto;
        padding-left: 21px;
        padding-right: 21px;
        display: flex;
        position: relative;
        @include tab {
            flex-direction: column-reverse;
        }
        @include sp {
            padding-left: 4%;
            padding-right: 4%;
        }
    }
    &__text-box {
        width: 450px;
        margin-top: 159px;
        @include pc {
            margin-left: 60px;
        }
        @include tab {
            // width: 465px;
            margin: -15px auto 0;
            z-index: 2;
        }
        @include sp {
            width: 100%;
            margin: 0 auto 0;
        }
    }
    &__catchcopy {
        font-size: 3.2rem;
        line-height: 1.4;
        @include sp {
            text-align: center;
        }
        @include sp {
            font-size: 2.6rem;
        }
    }
    &__desc {
        font-size: 1.6rem;
        line-height: 1.5;
        width: 450px;
        margin-top: 44px;
        @include tab {
            width: 100%;
            margin-top: 35px;
            text-align: center;
        }
        @include sp {
            font-size: 1.5rem;
        }
    }
    &__button-wrapper {
        margin-top: 53px;
        @include tab {
            margin: 30px auto 0;
            width: 166px;
        }
        @include sp {
            margin: 20px auto 0;
        }
    }
    &__image-wrapper {
        // margin-left: 13%;
        position: absolute;
        top: 25%;
        right: 4%;
        // transform: translateY(-50%);
        @include tab {
            position: static;
            width: 55%;
            min-width: 400px;
            margin: -15px auto 0;
        }
        @include sp {
            width: 90%;
            min-width: 100px;
        }
    }
    &__image {
        max-width: 100%;
        height: auto;
    }
}

// --------------------------------------------------------
// features
// --------------------------------------------------------
.features {
    padding-top: 70px;
    padding-bottom: 100px;
    @include tab {
        padding-top: 120px;
    }
    @include sp {
        padding-bottom: 80px;
    }

    &__list {
        margin-top: 57px;
    }
    &__item {
        &:not(:nth-of-type(1)) {
            margin-top: 100px;
            @include sp {
                margin-top: 70px;
            }
        }
        &:nth-child(2n) .features__box {
            flex-flow: row-reverse;
            @include sp {
                flex-direction: column;
                margin-top: 40px;
            }
        }
        &:nth-child(2n) .features__image-wrapper {
            margin-left: 5%;
            margin-right: 0;
            @include sp {
                margin-left: initial;
            }
        }
    }
    &__box {
        display: flex;
        align-items: center;
        margin-top: 60px;
        @include sp {
            flex-direction: column;
            margin-top: 40px;
        }
    }
    &__image-wrapper {
        margin-right: 5%;
        @include sp {
            margin-right: initial;
        }
    }
    &__image {
        max-width: 100%;
        height: auto;
    }
    &__text-block {
        max-width: 46%;
        margin-left: auto;
        @include sp {
            max-width: 100%;
            margin-top: 30px;
        }
    }
    &__desc {
        text-align: justify;
        text-justify: inter-ideograph;
        line-height: 1.6;
        margin-top: 40px;
        @include sp {
            font-weight: 400;
            margin-top: 30px;
        }
    }
}

// --------------------------------------------------------
// price
// --------------------------------------------------------
.price {
    background-color: $colorBlueLightGlay;
    padding-top: 70px;
    padding-bottom: 100px;
    @include sp {
        padding-top: 55px;
        padding-bottom: 80px;
    }

    &__table {
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto;
        background-color: $colorWhite;
        width: 94%;
        border: 1px solid $colorGlayBase;
        box-shadow: 0 3px 6px $colorGlayHeavy;
        @include sp {
            margin-top: 35px;
        }
    }
    &__table-row {
        &:not(:nth-of-type(1)) {
            border-top: 1px solid $colorGlayBase;
        }
    }
    &__table-heading {
        font-size: 1.6rem;
        line-height: 1.7;
        width: 35%;
        vertical-align: middle;
        padding: 19px 30px;
        @include sp {
            font-size: 1.4rem;
            padding: 15px 24px;
        }
    }
    &__table-desc {
        font-size: 1.6rem;
        line-height: 1.7;
        width: 65%;
        vertical-align: middle;
        padding: 33px 30px;
        border-left: 1px solid $colorGlayBase;
        @include sp {
            font-size: 1.4rem;
            padding: 15px 24px;
        }
    }
    &__note {
        margin-top: 36px;
        line-height: 1.4;
        text-align: center;
        @include sp {
            font-size: 1.4rem;
        }
    }
}

// --------------------------------------------------------
// faq
// --------------------------------------------------------
.faq {
    padding-top: 70px;
    padding-bottom: 100px;
    @include sp {
        padding-top: 55px;
        padding-bottom: 80px;
    }

    &__box {
        margin-top: 32px;
        margin-left: auto;
        margin-right: auto;
        width: 93%;
        border: 1px solid $colorGlayBase;
    }
    &__box-heading {
        padding: 18px;
        font-size: 1.4rem;
        line-height: 1.9;
        text-align: center;
        position: relative;
        cursor: pointer;
        @include sp {
            padding-right: 65px;
        }

        &:not(:nth-of-type(1)) {
            border-top: 1px solid $colorGlayBase;
        }
        &:after {
            //アコーディオンのアイコン
            content: '';
            position: absolute;
            right: 30px;
            top: 30%;
            transition: all 0.2s ease-in-out;
            display: block;
            width: 16px;
            height: 16px;
            border-top: 4px solid $colorDarkBlue;
            border-right: 4px solid $colorDarkBlue;
            transform: rotate(135deg);
        }
        &.faq__box-heading--open:after {
            //クリックするとアコーディオンのアイコンが回転する
            transform: rotate(-45deg);
            top: 45%;
        }
    }
    &__box-desc {
        display: none; // デフォルトでは非表示にしておく（アコーディオンで開閉させる）
        padding: 18px;
        background-color: $colorLightGlayBase;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.9;
        border-top: 1px solid $colorGlayBase;
    }
}

// --------------------------------------------------------
// blog
// --------------------------------------------------------
.blog {
    padding-top: 70px;
    padding-bottom: 100px;
    background-color: $colorBlueLightGlay;
    @include sp {
        padding-top: 55px;
        padding-bottom: 80px;
    }

    &-container {
        width: 100%;
        max-width: 1268px;
        margin: 0 auto;
        padding-left: 21px;
        padding-right: 21px;
        @include sp {
            padding-left: 4%;
            padding-right: 4%;
        }
    }
    &__list {
        margin-top: 54px;
        display: flex;
        justify-content: space-between;
        @include sp {
            flex-direction: column;
        }
    }
    &__item {
        background-color: $colorWhite;
        width: 31%;
        box-shadow: 0 3px 6px $colorGlayHeavy;
        display: flex;
        flex-direction: column;
        @include sp {
            width: 100%;
            max-width: 389px;
            margin-left: auto;
            margin-right: auto;
        }

        &:not(:nth-of-type(1)) {
            @include sp {
                margin-top: 35px;
            }
        }
    }
    &__image {
        width: 100%;
        max-width: 389px;
        height: auto;
    }
    &__desc {
        font-size: 1.8rem;
        line-height: 1.4;
        text-align: justify;
        text-justify: inter-ideograph;
        padding: 14px 18px 10px;
        @include sp {
            font-size: 1.5rem;
        }
    }
    &__date {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.6;
        text-align: right;
        margin-top: auto;
        padding: 0 18px 10px;
        @include sp {
            font-size: 1.2rem;
        }
    }
}

// --------------------------------------------------------
// works
// --------------------------------------------------------
.works {
    padding-top: 70px;
    padding-bottom: 100px;
    @include sp {
        padding-top: 55px;
        padding-bottom: 80px;
    }

    &-container {
        width: 100%;
        margin: 0 auto;
    }
    &__item {
        width: 100%;
        max-width: 322px;
        background-color: $colorWhite;
        border: 1px solid $colorGlayLight;
        border-radius: 8px;
    }
    &__image {
        width: 100%;
        max-width: 322px;
        height: auto;
    }
    &__box {
        padding: 18px;
        min-height: 181px;
    }
    &__item-desc {
        font-size: 1.6rem;
        line-height: 1.5;
        text-align: justify;
        text-justify: inter-ideograph;
        @include sp {
            font-size: 1.4rem;
        }
    }
    &__item-list {
        margin-top: 15px;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.5;
        @include sp {
            font-size: 1.2rem;
        }
    }
}

//swiperスライダー
.swiper-container {
    margin-top: 68px !important; //読み込んでいるCDNで"margin-top: 0;"と定義されているため"!important"を使用
    width: 100%;
    height: 405px;
}

// --------------------------------------------------------
// contact
// --------------------------------------------------------
.contact {
    padding-top: 70px;
    padding-bottom: 100px;
    background: linear-gradient(90deg, $colorBlue 0%, $colorGreenBase 100%, $colorGreenLight 100%);
    @include sp {
        padding-top: 55px;
        padding-bottom: 80px;
    }

    &__text {
        margin-top: 36px;
        color: $colorWhite;
        text-align: center;
        @include sp {
            margin-top: 30px;
            line-height: 1.4;
        }
    }
    &__box {
        margin-top: 44px;
        padding: 31px 62px;
        background-color: $colorWhite;
        box-shadow: 0 3px 6px $colorGlayHeavy;
        @include sp {
            margin-top: 35px;
            padding: 20px 15px;
        }
    }
    &__item {
        &:not(:nth-of-type(1)) {
            margin-top: 35px;
        }
    }
    &__label {
        font-size: 1.6rem;
        @include sp {
            font-size: 1.4rem;
        }
    }
    &__note {
        display: inline-block;
        background-color: $colorDarkBlue;
        color: $colorWhite;
        font-size: 1.4rem;
        height: 20px;
        line-height: 20px;
        padding: 0 15px;
        border-radius: 5px;
        margin-left: 8px;
        @include sp {
            font-size: 1.2rem;
        }
    }
    &__text-input {
        display: block;
        margin-top: 15px;
        font-weight: 400;
        font-size: 1.5rem;
        width: 100%;
        max-width: 856px;
        padding: 6px 12px;
        border: 1px solid $colorGlayBase;
        border-radius: 4px;
        @include sp {
            font-size: 1.3rem;
        }
    }
    &__textarea {
        display: block;
        margin-top: 15px;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.4;
        width: 100%;
        max-width: 856px;

        padding: 6px 12px;
        border: 1px solid $colorGlayBase;
        border-radius: 5px;
        @include sp {
            font-size: 1.3rem;
        }
    }
    &__checkbox-wrapper {
        margin-top: 30px;
        text-align: center;
    }
    &__checkbox {
        display: none;

        // &:checked + .contact__checkbox-label {
        //     color: $colorDarkBlue;
        // }
        &:checked + .contact__checkbox-label::before {
            content: '';
            display: block;
            width: 15px;
            height: 15px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-45%);
            border: 1px solid $colorBlackBase;
            border-radius: 3px;
            cursor: pointer;
            background-color: $colorWhite;
        }
        &:checked + .contact__checkbox-label::after {
            content: '';
            display: block;
            position: absolute;
            top: -4px;
            left: 6px;
            width: 7px;
            height: 16px;
            transform: rotate(40deg);
            border-top: none;
            border-left: none;
            border-bottom: 3px solid $colorGlayBlue;
            border-right: 3px solid $colorGlayBlue;
        }
    }
    &__checkbox-label {
        font-size: 1.6rem;
        padding-left: 20px;
        position: relative;
        @include sp {
            font-size: 1.4rem;
        }

        &::after {
            content: '';
            display: block;
            width: 15px;
            height: 15px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-45%);
            border: 1px solid $colorBlackBase;
            border-radius: 3px;
        }
    }
    &__submit-wrapper {
        margin-top: 30px;
        text-align: center;
        @include sp {
            margin-top: 20px;
        }
    }
}

// --------------------------------------------------------
// footer
// --------------------------------------------------------
.footer {
    width: 100%;
    position: absolute; //コンテンツが少ない場合にfooterを最下部に固定する
    bottom: 0; //コンテンツが少ない場合にfooterを最下部に固定する

    &__inner {
        padding: 30px 0;
        width: 100%;
        height: 100px;
        @include sp {
            padding: 15px 0;
        }
    }
    &__list {
        display: flex;
        justify-content: center;
        @include sp {
            flex-direction: column;
            align-items: center;
        }
    }
    &__item {
        font-size: 1.4rem;
        @include sp {
            font-size: 1.2rem;
            line-height: 1.4;
        }

        &:not(:nth-of-type(1)) {
            margin-left: 25px;
            @include sp {
                margin-top: 5px;
                margin-left: initial;
            }
        }
    }
    &__link {
        transition: all 0.3s;
        &:hover {
            color: $colorGlayBlue;
            transition: all 0.3s;
        }
    }
    &__copyright-wrapper {
        margin-top: 15px;
        text-align: center;
    }
    &__copyright {
        display: block;
        font-weight: 400;
        font-size: 1.4rem;
        @include sp {
            font-size: 1.2rem;
        }
    }
}

// --------------------------------------------------------
// jQuery スクロールトップ
// --------------------------------------------------------
#js-scroll-top {
    position: fixed;
    bottom: 60px;
    right: 40px;
    z-index: 5;
    @include sp {
        right: 4%;
    }
}
.js-scroll-top__link {
    background-color: $colorDarkBlue;
    color: $colorWhite;
    font-size: 35px;
    padding: 8px 18px 10px;
    border-radius: 4px;
}
.fa-angle-up {
    color: $colorWhite;
}

// --------------------------------------------------------
// jQuery スマホ用ヘッダーコンテンツ ハンバーガーメニュー
// --------------------------------------------------------
.js-body--noscroll {
    overflow: hidden;
}
.header {
    &__sp-content {
        display: none;
        @include tab {
            display: block;
        }
    }
    &__sp-navi-wrapper {
        transform: translateX(100%);
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 30;
        &.slide-in {
            transform: translateX(0);
            transition: 0.5s;
        }
    }
    &__sp-navi {
        width: 100%;
        height: 100%;
        background-color: $colorBlueLightGlay;
        z-index: 30;
    }
    &__sp-navi-list {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    &__sp-navi-item {
        margin-right: 0;
        margin-bottom: 40px;

        color: $colorBlackBase;
        font-size: 1.6rem;
    }
}

.hamburger-bottun {
    display: block;
    position: absolute;
    top: 25px;
    right: 30px;
    width: 39px;
    height: 39px;
    cursor: pointer;
    transition: 0.5s;
    z-index: 35;
    transition: all 0.5s;
    @include sp {
        top: 18px;
        right: 4%;
    }
    &:hover {
        opacity: 0.7;
        transition: all 0.5s;
    }

    &__icon {
        width: 30px;
        height: 3px;
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: $colorDarkBlue;
    }
    &__icon--top {
        top: 10px;
    }
    &__icon--middle {
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &__icon--bottom {
        bottom: 9px;
    }

    &.js-hamburger-bottun--close .hamburger-bottun__icon--top {
        transform: translate(-50%, 8px) rotate(45deg);
        transition: 0.5s;
    }
    &.js-hamburger-bottun--close .hamburger-bottun__icon--middle {
        opacity: 0;
        transition: opacity 0.5s;
    }
    &.js-hamburger-bottun--close .hamburger-bottun__icon--bottom {
        transform: translate(-50%, -9px) rotate(-45deg);
        transition: 0.5s;
    }
}
